# Auto detect text files and perform LF normalization
* text=auto

# CSharp
*.cs     diff=csharp

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.tif binary
*.tiff binary
*.ico binary
*.svg binary
*.eps binary

# Binaries
Data/ruby-jekyll-env.zip binary
Lib/Ionic.Zip.dll binary